                                    Data Types and Structures Questions
                                   ______________________________________


Q1. What are data structures, and why are they important?

A:- Data Structure :- Way of organizing and storing data so that can be accessed and manipulating .
They are important because:-
a. They help you store and arrange data properly (like lists ,sets or dicionaries).
b. Right data stricture makes your code faster and more efficient .
c. They make it easier to write .

Q2.Explain the difference between mutable and immutable data types with examples ?

A:- Mutable Data Types 
- can be change after creation 
- you can modify , add or remove elements . 
- list , dict , set
 my_list = [ 1 , 2 , 3 ]
 my_list[0] = 10
 print(my_list)
 Output : [ 10 , 2 , 3]
Immutable Data Types 
- cannot be change after creation 
- you cannot modify , add or remove elements . 
- int , float , str ,tuple
my_str "hello"
my_str[0] = "H"
# Error strings are immutable

Q3. What are the main differences between lists and tuples in Python?

A:- Main differences between lists and tuple are:- 
so list are mutable you can change the value after creation
syntax -[]
tuple are immutable you cannot change the value after creation
syntax -()

Q4.Describe how dictionaries store data?

A:- * A dictionary stores data as key: value pairs.
* Each key is unique and points to a value .
Example :
student = { "name": "Om" , "age": 20}

Q5.Why might you use a set instead of a list in Python ?

A:- Use a set when you want to :
1. Remove duplicates
2. Check membership faster
3. Do set operations
Examples:-
my_list = [ 1,2,2,2,3,3,4]
my_set = set(my_list)
print(my_set)
Output: {1,2,3,4}

Q6. What is a string in Python, and how is it different from a list ?

A:- A string is a sequence of characters .
* it is written inside quotes (" " or ' ' )
* strings are immutable (you can't change characters directly).
Example:-
name = "HELLO"
print(name[H])
Output: H

Q7. How do tuples ensure data integrity in Python?

A:- How to double ensures data integrity in python:
1.  Use Proper Data Types
* Store data in the correct type (eg;, use int for age , str for names).
age = int(input("Enter your age:"))

2. Validate Input Data
* Check data Before using 
if age>0:
    print("Valid age")
else:
    print("Invalid age ")

3. Use Assertions(Extra Check)

assert age> 0 , # "Age must be postive"

Q8. What is a hash table, and how does it relate to dictionaries in Python?

A:- A hash table is a data structure that stores data in key value pairs.
It uses a hash function to quckily find the value using the key .

In python , the dictionary(dict) is built using a hash table.
*  Keys are hashed(converted to a number).
* That number decides where the value is stored in memory.
* This makes searching for values very fast .
 my_dict = {"name": "Om" ,"age":22}
 prinr(my_dict["name"])
 Output: Om

Q9. Can lists contain different data types in Python?

A:- Yes , a list can contain different data types in python.
Python list are flexible , and they can stores mixed data type like:
*int
*str
*floats
*booleans
*even other list and dictionaries

Q10.Explain why strings are immutable in Python?

A:- Strings are immutable because once you created them , you can't change them.
This makes your program faster , safer , and less error prone, especially when using strings in things like dictionaries.
Example:
text ="hello"
text[0] = "H"
#This given an error , because strings can't be changed

Q11.What advantages do dictionaries offer over lists for certain tasks?

A:- Disadvantage of dicitionaries over Lists in python :
* No Order
 Dictionaries didn't keep items in order like lists do .
* More Memory Usages
 Dictionaries use more memory than lists
*Not Good for Simple Sequences
 For task like a storing a simple list of items (eg. names, numbers).

Q12.Describe a scenario where using a tuple would be preferable over a list ?

A:- Use a tuple when you want to store data that should not change.
 You are storing the coordinates of a location :
 location = (28.6139 , 77.2090)
Since the location doesn't change , a tuple is safer than a list.
So, use a tuple when your data is fixed and protected.

Q13.How do sets handle duplicate values in Python ?

A:- Sets automatically remove duplicate values.
They only keep unique items.
Example:
my_set = {1,2,2,3,3,3,4}
print(my_set)
Output: {1,2,3}

Q14.How does the “in” keyword work differently for lists and dictionaries?

A:- 1. In a list - It checks if a value is in the list.
my_list = [1,2,3]
print(2 in my_list)
Output: True

2.In a dictionary - It checks if a key  is in the dictionary
my_dict = {"name": "Om" , "age": 20}
print("name" in my_dict}
Output: True

Q15. Can you modify the elements of a tuple? Explain why or why not?

A:- No , you cannot
Because tuples are immutable - once created, their values cannot be changed , added or removed. 
Example(Will cause an error):
my_tuple = (10,20,30)
my_tuple[0] = 100 
Output: Error! Tuples can't be changed

Q16. What is a nested dictionary, and give an example of its use case?

A:- A nested dictionary means a dictionary inside another dictionary.
It helps you store complex data in a structured way.
Example:
students = {
    "101": {"name": "Om" , "age":20},
    "102": {"name": "Prem" ,"age":22}
 }
Here, each students ID maps to another dictionary with details.

Use Cases:
*student info
*Employee data
*Product details 

Q17.Describe the time complexity of accessing elements in a dictionary ?

A:-The average time complexity is 0(1) which means constant time.
It's is very fast beacuse python uses a hash table behind the dictionary.
Example:
my_dict ={}
my_dict{"name"} = "Om" #0(1)

Q18.In what situations are lists preferred over dictionaries?

A:-Use a list instead of adictionary when:-
1.You only need to store value
-Like list of names,numbers or item.
-No need for key value pairs.
2. Order matters
-Lists keep the order of item automatticaly
3.You want to loop through item easily
- Lists are better for looping
Examples:-
fruits = [ "apple", "banana","mango"]
print(fruit[0])
Output: apple

Q19.Why are dictionaries considered unordered, and how does that affect data retrieval?

A:-Befor python version 3.7 , dictionaries did not keep the order of items.
That means when you added key-value pair, python did not remember the order.
How Did That Affected Data Retrieval:-
-When you loop through the dictionary,the item could come out in any order.
Example"-
{"name": "om", "age":23,"city":"Dhanbad"}
my_dict:
key
Output:city
       name
        age

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

A:-FEATURE    | LIST                         | DICTIONARY
Access method |By indecing(number  position) | By key (name/lable)
Speed         |Slower (O(n) in serach)       | Faster (O(1)in search)
User case     |When you need ordered data    | When you need labeled data

In [ ]:
                                        Practical Questions
                                       _______________________

Q1.Write a code to create a string with your name and print it?

In [2]:
name = "Om"
print(name)

Om

In [ ]:
Q2.Write a code to find the length of the string "Hello World"?

In [3]:
string= "Hello World"
print(len(string))

11

In [ ]:
Q3.Write a code to slice the first 3 characters from the string "Python Programming"?

In [7]:
string = "Python Programming"
string[0:3]
print(string[0:3])

Pyt

In [ ]:
Q4.Write a code to convert the string "hello" to uppercase?

In [9]:
string = "hello"
string.upper()

'HELLO'

In [ ]:
Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple"P

In [17]:
fruits = "I like apple" 
fruits.replace("apple","orange")

'I like orange'

In [ ]:
Q6.Write a code to create a list with numbers 1 to 5 and print it.

In [20]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
Q7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [28]:
numbers  = [1, 2, 3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [ ]:
Q8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [29]:
numbers = [ 1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [33]:
letters= ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [ ]:
Q10.Write a code to reverse the list [10, 20, 30, 40, 50]

In [36]:
numbers =  [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [ ]:
Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [45]:
numbers = (100,200,300)
print(numbers)
print(type(numbers))

(100, 200, 300)
<class 'tuple'>

In [ ]:
Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [49]:
colour = ('red', 'green', 'blue', 'yellow')
colour[-2]

'blue'

In [ ]:
Q13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [50]:
numbers = (10, 20, 5, 15)
max(numbers)

20

In [ ]:
Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [51]:
animals = ("dog","cat","rabbit")
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [ ]:
Q15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [53]:
fruits = ("kiwi", "orange", "mango")
if 'kiwi' in fruits:
    print("kiwi is in the tuple.")
else:
    print("kiwi is not in the tuple.")

kiwi is in the tuple.

In [ ]:
Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [54]:
words = {"a" , "b" ,"c"}
print(words)

{'a', 'c', 'b'}

In [ ]:
Q17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [57]:
numbers = {1 ,2 ,3,4,5}
numbers.clear()
print(numbers)

set()

In [ ]:
Q18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [58]:
numbers = {1 ,2 ,3,4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [ ]:
Q19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [59]:
s1 = {1,2,3}
s2 = {3,4,5} 
s1 | s2

{1, 2, 3, 4, 5}

In [ ]:
Q20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [60]:
s1 = {1 , 2 , 3 }
s2 = { 2 , 3 , 4}
s1-s2

{1}

In [ ]:
Q21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [65]:
students_details = {"name":"Om","age":23,"city":"Dhanbad"}
print(students_details)

{'name': 'Om', 'age': 23, 'city': 'Dhanbad'}

In [ ]:
Q22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [66]:
students_details = {'name': 'John', 'age': 25}
students_details["country"] = "USA"
print(students_details)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [67]:
students_details ={'name': 'Alice', 'age': 30}
students_details['name']

'Alice'

In [ ]:
Q24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [69]:
college_details =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
del college_details["age"]
print(college_details)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
Q25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [71]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("key 'city' exists in the dicitionary.")
else:
    print("key 'city' does not exists in the dicitionary.")

key 'city' exists in the dicitionary.

In [ ]:
Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [82]:
my_list = [ 10,20,30,40,50]
my_tuple =("apple","pineapple","graphes")
my_dict = {'name': 'Alice', 'city': 'Paris'}
print("Lists :", my_list)
print("Tuple:",my_tuple)
print("Dictionary:", my_dict)

Lists : [10, 20, 30, 40, 50]
Tuple: ('apple', 'pineapple', 'graphes')
Dictionary: {'name': 'Alice', 'city': 'Paris'}

In [ ]:
Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [78]:
import random 
random_numbers = [random.randint(1,100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[23, 25, 28, 53, 74]

In [ ]:
Q28.Write a code to create a list with strings and print the element at the third index.

In [87]:
name =["om", "prem","ramesh","saumya","manshi"]
print(name[3])

saumya

In [ ]:
Q29.Write a code to combine two dictionaries into one and print the result.

In [88]:
dict1  = {'a':1,'b':2}
dict2 = {'c':3,'d':4}
combined_dict = {**dict1 ,**dict2}
print( "=== Combined Dictionary ===" )
for key , value in combined_dict.items():
    print(f"{key}: {value}")
    print("=========================")

=== Combined Dictionary ===
a: 1
=========================
b: 2
=========================
c: 3
=========================
d: 4
=========================

In [ ]:
Q30. Write a code to convert a list of strings into a set.

In [91]:
fruits = [ "apple" , "banana", "pineapple"]
fruits_str = set(fruits)
print("strings:" , fruits_str)

strings: {'banana', 'apple', 'pineapple'}